<h1>Contact Page</h1>

<!-- Source from et710.com/workshop2 (original: https://foundation.zurb.com/building-blocks/blocks/rounded-social-buttons.html) -->
<link rel="stylesheet" href="css/social.css">
<div class="rounded-social-buttons">
  <a class="social-button facebook" href="https://www.facebook.com/"></a>
  <a class="social-button twitter" href="https://twitter.com/"></a>
  <a class="social-button linkedin" href="https://www.linkedin.com/"></a>
  <a class="social-button youtube" href="https://www.youtube.com/"></a>
  <a class="social-button instagram" href="https://www.instagram.com/"></a>
  <a class="social-button pinterest" href="https://www.pinterest.com/"></a>
  <a class="social-button google-plus" href="https://plus.google.com/discover"></a>
  <a class="social-button github" href="https://github.com/"></a>
  <a class="social-button tumblr" href="https://www.tumblr.com/"></a>
</div>
